### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = round(purchase_data["Price"].mean(),2)
purchase_total = purchase_data["Item Name"].count()
price_total = purchase_data["Price"].sum()
data_summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": average_price, 
                             "Number of Purchases": purchase_total, "Total Revenue": price_total})
data_summary = data_summary.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:,.2f}"})
data_summary

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_data = purchase_data.groupby("Gender")
gender_totals = gender_data["SN"].nunique()
gender_percent = gender_totals/total_players * 100
gender_summary = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percent})
gender_summary = gender_summary.style.format({"Percentage of Players": "{:.2f}%"})
gender_summary


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count = purchase_data["Gender"].value_counts()
average_price = gender_data["Price"].mean()
purchase_per_person = gender_data["Price"].sum()
average_purchase = round(purchase_per_person/gender_totals,2)
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_price, 
                                  "Total Purchase Value": purchase_per_person, "Avg Total Purchase per Person": average_purchase})
purchase_analysis = purchase_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}", 
                                                   "Avg Total Purchase per Person": "${:.2f}"})
purchase_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 44.90, 49.90]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]
purchase_data["Age By Group"] = pd.cut(purchase_data["Age"], bins, labels=names, include_lowest=True)
age_group = purchase_data.groupby("Age By Group")
age_totals = age_group["SN"].nunique()
player_percent = age_totals/total_players * 100
age_analysis = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": player_percent})
age_analysis.index.name = None
age_analysis = age_analysis.style.format({"Percentage of Players": "{:.2f}%"})
age_analysis

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_age_count = age_group["Age By Group"].count()
average_age_purchase_price = age_group["Price"].mean()
total_per_person = age_group["Price"].sum()
average_total_per_person = round(total_per_person/age_totals, 2)
age_summary = pd.DataFrame({"Purchase Count": purchase_age_count, "Average Purchase Price": average_age_purchase_price,
                            "Total Purchase Value": total_per_person, "Avg Total Purchase Per Person": average_total_per_person})
age_summary.index.name = "Age Ranges"
age_summary = age_summary.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:.2f}"})
age_summary

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
players_group = purchase_data.groupby("SN")
purchase_count = players_group.count()["Purchase ID"]
average_purchase = players_group.mean()["Price"]
total_purchase = players_group.sum()["Price"]
spender_summary = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_purchase, 
                                "Total Purchase Value": total_purchase})
spender_summary = spender_summary.sort_values("Purchase Count", ascending=False).head()
spender_summary = spender_summary.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
spender_summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
grouped_items = purchase_data.groupby(["Item ID", "Item Name"])
purchase_count = grouped_items.count()["Purchase ID"]
average_purchase = grouped_items.mean()["Price"]
total_purchase = grouped_items.sum()["Price"]
popular_items = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": average_purchase, "Total Purchase Value": total_purchase})
popular_items = popular_items.sort_values("Purchase Count", ascending=False).head()
popular_items = popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
popular_items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
grouped_items = purchase_data.groupby(["Item ID", "Item Name"])
purchase_count = grouped_items.count()["Purchase ID"]
average_purchase = grouped_items.mean()["Price"]
total_purchase = grouped_items.sum()["Price"]
most_profitable = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": average_purchase, "Total Purchase Value": total_purchase})
most_profitable = most_profitable.sort_values("Total Purchase Value", ascending=False).head()
most_profitable = most_profitable.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
most_profitable