### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = round(purchase_data["Price"].mean(),2)
purchase_total = purchase_data["Item Name"].count()
price_total = purchase_data["Price"].sum()
data_summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": average_price, 
                             "Number of Purchases": purchase_total, "Total Revenue": price_total})
# purchase_data.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})
data_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_data = purchase_data.groupby("Gender")
gender_totals = gender_data.nunique()["SN"]
gender_percent = gender_totals/total_players * 100
gender_summary = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percent})
# gender_totals["Total Count"] = gender_totals["Total Count"].map("{:.2f}%").format
gender_summary

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_count = purchase_data["Gender"].value_counts()
average_price = gender_data["Price"].mean()
purchase_per_person = gender_data["Price"].sum()
average_purchase = round(purchase_per_person/gender_totals, 2)
# average_price["Price"] = average_price["Price"].astype(float).map("${:,.2f}".format)
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_price, 
                                  "Total Purchase Value": purchase_per_person, "Avg Total Purchase per Person": average_purchase})
purchase_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 44.90, 49.90]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]
purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=names, include_lowest=True)
purchase_data = purchase_data.groupby("Total Count")
purchase_data.sum()

             Purchase ID   Age  Item ID    Price
Total Count
<10                10009   181     2428    77.13
10-14              10114   319     2719    82.78
15-19              54859  2284    12798   412.89
20-24             139573  7971    32335  1114.06
25-29              41072  2626     9128   293.00
30-34              26254  2291     6866   214.00
35-39              16596  1505     4137   147.67
40-44               4572   495     1141    36.54
45-49                761    45       17     1.70

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame